:root {
    --whitesmoke: whitesmoke;
    --softblue: rgb(103, 144, 206);
    --grey: rgb(82, 77, 77);
    --peach: rgb(253, 241, 227);
    --darkgrey: rgb(84, 84, 84);
    --lightpurple: rgb(184, 172, 196);
    --teal: rgb(49, 105, 105);
}


/* Header and navbar */

.jumbotron {
    text-align: center;
    background-color: var(--lightpurple);
    color: var(--whitesmoke);
    border-radius: 0;
    border: 1px solid var(--darkgrey);
    padding: 0;
}

.navbar {
    border: 2px solid white;
    padding: -2rem;
    margin-bottom: 1%;
}

.jumbotron p {
    color: var(--whitesmoke);
    font-size: 1.5rem;
}
  
.navbar-color {
    background-color: var(--lightpurple);
}

.navbar-color2 {
    background-color: rgba(49, 81, 76, 0.657);
}

.nav-item-color {
    color: var(--whitesmoke);
}

.nav-item:active {
    color: var(--darkgrey);
}

.btn-color {
    background-color: rgb(49, 105, 105);
    color: var(--whitesmoke);
}

.day {
    text-align: end;
    margin-right: 2%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
}


tbody {
  color: var(--whitesmoke);
  text-decoration: none;
}

td:hover {
  color:#1a1a1a;
  text-decoration: underline;
}

.text-dark {
  color: #1a1a1a;
}


h4 {
  margin: 0 0 0.5rem;
  line-height: 1.25;  
  font-size: 2rem;
}

tbody {
  color: var(--whitesmoke);
  text-decoration: none;
}

/* td:hover {
  color:#1a1a1a;
  text-decoration: underline;
} */

.text-dark {
  color: #1a1a1a;
}

.aside-tips {
    font-family: Tahoma, sans-serif;
    max-width: 30%;
    background-color: var(--peach);
    color: var(--grey);
    border-right: 2px solid var(--grey) ;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 15px;
    flex: 1 0 30%;
}

h2 {
    padding-bottom: 70px;
}

h3 {
    border-bottom: 2px dotted var(--softblue) ;
    padding-bottom: 30px;
    color: var(--softblue);
}

p {
    padding-bottom: 40px;
    font-size: large;
}

/* Main and container */

main {
    display: flex;
    flex-wrap: wrap;
}
.container {
    width: 70%;
    flex: 6 0 70%;
    flex-wrap: wrap;
    display: flex;
}  

.pets {
    width: 100%;
    border-radius: 4px;
    padding-bottom: 20px;
}
.main-p {
    background-color: rgb(248, 246, 246);
    border-radius: 4px;
    padding: 15px;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    color: var(--darkgrey);
}
.adopt-me {
    border-radius: 4px;
    padding-top: 10px;
    width: 55%;
}

.side-msg {
    background-color: var(--peach) ;
    border-radius: 4px;
    font-size: xx-large;
    padding: 10px;
    width: 25%;
    text-align: center;
    margin: 85px;
}

.last-p {
    color: var(--darkgrey);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    padding: 15px;
}

/* favorite page */

.container2 {
    margin: 2%;
    padding: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(216, 233, 240);
}

h5 {
    margin: 0px;
    width: 50%;
    text-align: center;
    font-size: xxx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--darkgrey)
}

.container2 img {
    display: block;
    left: auto;
    right: auto;
    width: 55%;
    margin: 50px;
    border-radius: 6px;
    border: 3px solid var(--lightpurple);
}

.list-group {
    width: 700px; 
    font-size: large;
    color: var(--darkgrey);
}

.modal-body {
    background-color: var(--whitesmoke);
}

.modal-body p {
    color:rgb(49, 105, 105);
    font-weight:lighter;
    padding: 2px;
}

.petPhoto {
    float: right;
    border: solid 5px;
    border-radius: 3%;
    border-color: var(--teal);
}

.petAttribute p {
    color: var(--teal);
    font-weight:normal;
    padding: 2px;
    font-size:medium;
    float: center;
}

.pBreed {
    float:right;
    padding: 4%;
}

h6 {
    margin: 0px;
    width: 50%;
    text-align: left;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--darkgrey)
}

.petName{
    font-size: 1rem;
    font-weight: bold;
}

.petAttribute{
    font-size: 18px;
    font-weight:normal;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#error {
    color:red;
    left: 30px;

}

/* footer */ 

#footer {
    background-color: var(--lightpurple);
    color: var(--whitesmoke);
    text-align: center;
    padding: 20px;
    font-size: larger;
    border: 2px solid var(--darkgrey);
}

